@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --color-dark-1: #243b53;
  --color-dark-2: #363f4e;
  --color-dark-3: #697486;
  --color-light-1: #fff;
  --color-light-2: #f9fbfe;
  --color-light-3: #ecf0f7;
  --color-code: #1979ca;
  --color-nav: #1464a5;
  --color-note-1: #2a86a3;
  --color-note-2: #e6f8fd;
  --color-warning-1: #e1c542;
  --color-warning-2: #fef1b6;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 1.7rem;
  line-height: 1.8;
  color: var(--color-dark-3);
  background-color: var(--color-light-1);
}

header {
  color: var(--color-dark-2);
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

ol li,
ul li {
  margin-bottom: 1.5rem;
}

article > p {
  margin-bottom: 2.5rem;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: var(--color-code);
}

a:hover {
  text-decoration: underline;
}

code,
pre {
  background-color: var(--color-light-3);
}

pre {
  overflow: auto;
  padding: 2.4rem;
  border-left: 5px solid var(--color-code);
  margin: 2.4rem 0;
}

code {
  font-family: Consolas, Courier, monospace;
  padding: 0 3px;
}

.navbar {
  position: fixed;
  min-width: 320px;
  top: 0;
  left: 0;
  width: 340px;
  height: 100%;
  border-right: 1px solid var(--color-light-3);
  padding: 1rem 3rem 0 3rem;
  background-color: var(--color-light-2);
  overflow: auto;
}

.navbar li {
  margin-bottom: 1.2rem;
  border-bottom: 1px solid var(--color-light-3);
}

.navbar li a {
  color: var(--color-nav);
}

@media only screen and (max-width: 1020px) {
  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    max-height: 420px;
    border: none;
    z-index: 1;
    border-bottom: 1px solid var(--color-light-3);
  }

  .navbar li {
    border: none;
  }
}

.navbar a:hover {
  color: var(--color-dark-2);
  text-decoration: none;
}

.main-doc {
  position: absolute;
  margin-left: 340px;
  padding: 0 3rem;
}

@media only screen and (max-width: 1020px) {
  .main-doc {
    position: relative;
    margin-left: 0;
    margin-top: 430px;
  }
}

.main-section {
  margin-top: 1rem;
}

.main-section ul {
  list-style: square;
}

.main-section ol,
.main-section ul {
  padding-left: 4rem;
}

.notecard {
  border-left: 5px solid var(--color-note-1);
  padding: 1.2rem;
  margin-bottom: 2.4rem;
}

.notecard.note {
  background-color: var(--color-note-2);
}

.notecard.warning {
  border-left: 5px solid var(--color-warning-1);
  background-color: var(--color-warning-2);
}

.token.keyword {
  color: #00448b;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #b53248;
}

.token.tag {
  color: #906;
}

.token.punctuation {
  color: #999;
}

.token.attr-name,
.token.string {
  color: #266738;
}

.table {
  margin: 4.5rem 0;
  font-size: 1.7rem;
}

.table th {
  color: var(--color-dark-1);
  text-align: left;
}

.table td,
.table th {
  background-color: var(--color-light-3);
  padding: 1.4rem;
}

.table thead th {
  background-color: var(--color-note-2);
}

@media only screen and (max-width: 700px) {
  .table thead th:last-child,
  .table tbody tr td:last-child {
    display: none;
  }
}
